@include border-box-sizing;

html, body {
	font-family: $bodyFont;
	font-size: 62.5%;
}

#{headings()} {
	font-family: $headFont;
	font-weight: bold;
	font-size: 3rem;
}

p, input, button, label, textarea, span {
	font-size: 1.8rem;
}

small {
	font-size: 1.4rem;
}